{% extends "base.html.twig" %}

{% block title %} Acceuil
    
{% endblock %}


{% block body %}
    
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Bienvenue sur ma page <strong>Symfony</strong>!</h1>
            <p class="lead">Ceci s'agit de ma toute prémière page pour m'enterainer avec le framwork <strong>Symfony</strong>.</p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page <strong>Inscription</strong>.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
    
{% endblock %}

